*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/astrosFondo.jpeg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
 
}

.container{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

header nav ul{
    display: flex;
    list-style: none;
    background-color: rgb(175, 175, 175);
    opacity: 0.8;
}

header nav ul li{
    margin: 0.5em;
    margin-left: 1.5em;
    font-size: 16px;
    color: rgb(255, 255, 255);

}
.nosotros:hover{
    background-color: red;
}
li:hover{
    transform: scale(1.1);
    background-color: rgb(221, 221, 221) ;
    color: chocolate;
    font-weight: bold;
}

main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em;
}

main img{
    width: 40%;

}



.divMain h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: rgb(223, 223, 223);
    font-weight: 400;
    text-shadow: 2px 2px rgb(72, 72, 72);
}

.divMain p{
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    padding: 3em;
    line-height: 1.3em;
    text-shadow: 4px 4px rgb(72, 72, 72);
}

/* animacion de luna */

.girar{
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
}

@keyframes girar{
   from{
    transform: rotate(0);
   }

   to{
    transform: rotate(360deg);
   }
}

footer{
    grid-area: footer;
    text-align: center;
}

footer p{
    color: rgb(181, 181, 181);
    padding: 0.1em;
}

footer div img{
    padding: 0.1em;
}

/*mediaqueries*/

@media only screen and (max-width: 730px) and (min-width: 300px){
    main{
        flex-direction: column;
        padding: 0;
    }

    .divMain h1{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1080px){
    main{
       padding: 0;
    }
}